TestApp/obj/Debug/TestApp_MarkupCompile.i.lref
.gitignore
.vs/DatabaseFactory/v14/.suo
DbFactory/bin/Debug/DatabaseFactory.dll
DbFactory/bin/Debug/DatabaseFactory.pdb
DbFactory/bin/Debug/DbInterface.dll
DbFactory/bin/Debug/DbInterface.pdb
DbFactory/bin/Debug/DbLogger.dll
DbFactory/bin/Debug/DbLogger.pdb
DbFactory/bin/Debug/MySQLLibrary.dll
DbFactory/bin/Debug/MySQLLibrary.pdb
DbFactory/bin/Debug/SQLLibrary.dll
DbFactory/bin/Debug/SQLLibrary.pdb
DbFactory/bin/Debug/SQLiteLibrary.dll
DbFactory/bin/Debug/SQLiteLibrary.pdb
DbFactory/bin/Release/MySql.Data.Entity.EF5.dll
DbFactory/bin/Release/MySql.Data.Entity.EF6.dll
DbFactory/bin/Release/MySql.Fabric.Plugin.dll
DbInterface/bin/Debug/DbInterface.dll
DbInterface/bin/Debug/DbInterface.pdb
DbInterface/bin/Debug/DbLogger.dll
DbInterface/bin/Debug/DbLogger.pdb
DbInterface/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DbInterface/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DbInterface/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.cache
DbInterface/obj/Release/DbInterface.csproj.FileListAbsolute.txt
*TemporaryGeneratedFile*
TestApp/bin/Debug/DbLogger.dll
TestApp/bin/Debug/DbLogger.pdb
TestApp/bin/Debug/MySQLLibrary.dll
TestApp/bin/Debug/MySQLLibrary.pdb
TestApp/bin/Debug/SQLLibrary.dll
TestApp/bin/Debug/SQLLibrary.pdb
TestApp/bin/Debug/SQLiteLibrary.dll
TestApp/bin/Debug/SQLiteLibrary.pdb
TestApp/bin/Debug/TestApp.exe
TestApp/bin/Debug/TestApp.pdb
TestApp/bin/Debug/TestApp.vshost.exe.manifest
TestApp/bin/Release/D_TestApp.db
TestApp/bin/Release/DbFactoryLog.log
TestApp/bin/Release/TestApp.vshost.exe.manifest
SQLiteLibrary/bin/Debug/DbInterface.dll
SQLiteLibrary/bin/Debug/DbInterface.pdb
SQLiteLibrary/bin/Debug/DbLogger.dll
SQLiteLibrary/bin/Debug/DbLogger.pdb
SQLiteLibrary/bin/Debug/SQLiteLibrary.dll
SQLiteLibrary/bin/Debug/SQLiteLibrary.pdb
SQLLibrary/bin/Debug/DbInterface.pdb
SQLLibrary/bin/Debug/DbLogger.dll
SQLLibrary/bin/Debug/DbLogger.pdb
SQLLibrary/bin/Debug/SQLLibrary.dll
SQLLibrary/bin/Debug/SQLLibrary.pdb
TestApp/bin/Debug/D_TestApp.db
TestApp/bin/Debug/DatabaseFactory.dll
TestApp/bin/Debug/DatabaseFactory.pdb
TestApp/bin/Debug/DbFactoryLog.log
TestApp/bin/Debug/DbInterface.dll
TestApp/bin/Debug/DbInterface.pdb
MySQLLibrary/bin/Debug/DbInterface.dll
MySQLLibrary/bin/Debug/DbInterface.pdb
MySQLLibrary/bin/Debug/DbLogger.dll
MySQLLibrary/bin/Debug/DbLogger.pdb
MySQLLibrary/bin/Debug/MySQLLibrary.dll
MySQLLibrary/bin/Debug/MySQLLibrary.pdb
MySQLLibrary/obj/Release/MySQLLibrary.csproj.FileListAbsolute.txt
SQLLibrary/obj/Release/SQLLibrary.csproj.FileListAbsolute.txt
SQLiteLibrary/obj/Release/SQLiteLibrary.csproj.FileListAbsolute.txt
DbLogger/bin/Debug/DbLogger.dll
DbLogger/bin/Debug/DbLogger.pdb
DbLogger/bin/Release/DbLogger.dll
DbLogger/bin/Release/DbLogger.pdb
SQLLibrary/bin/Debug/DbInterface.dll
DbFactory/bin/Release/DatabaseFactory.dll
DbFactory/bin/Release/DatabaseFactory.pdb
DbFactory/bin/Release/DbInterface.dll
DbFactory/bin/Release/DbInterface.pdb
DbFactory/bin/Release/DbLogger.dll
DbFactory/bin/Release/DbLogger.pdb
DbFactory/bin/Release/DbNotifyer.dll
DbFactory/bin/Release/DbNotifyer.pdb
DbFactory/bin/Release/Hardcodet.Wpf.TaskbarNotification.dll
DbFactory/bin/Release/Hardcodet.Wpf.TaskbarNotification.pdb
DbFactory/bin/Release/MySQLLibrary.dll
DbFactory/bin/Release/MySQLLibrary.pdb
DbFactory/bin/Release/MySql.Data.dll
DbFactory/bin/Release/SQLLibrary.dll
DbFactory/bin/Release/SQLLibrary.pdb
DbFactory/bin/Release/SQLite.Interop.dll
DbFactory/bin/Release/SQLiteLibrary.dll
DbFactory/bin/Release/SQLiteLibrary.pdb
DbFactory/bin/Release/System.Data.SQLite.dll
DbInterface/bin/Release/DbInterface.dll
DbInterface/bin/Release/DbInterface.pdb
DbInterface/bin/Release/DbLogger.dll
DbInterface/bin/Release/DbLogger.pdb
DbInterface/bin/Release/DbNotifyer.dll
DbInterface/bin/Release/DbNotifyer.pdb
DbInterface/bin/Release/Hardcodet.Wpf.TaskbarNotification.dll
DbInterface/bin/Release/Hardcodet.Wpf.TaskbarNotification.pdb
DbNotifyer/bin/Release/DbLogger.dll
DbNotifyer/bin/Release/DbLogger.pdb
DbNotifyer/bin/Release/DbNotifyer.dll
DbNotifyer/bin/Release/DbNotifyer.pdb
DbNotifyer/bin/Release/Hardcodet.Wpf.TaskbarNotification.dll
DbNotifyer/bin/Release/Hardcodet.Wpf.TaskbarNotification.pdb
MySQLLibrary/bin/Release/DbInterface.dll
MySQLLibrary/bin/Release/DbInterface.pdb
MySQLLibrary/bin/Release/DbLogger.dll
MySQLLibrary/bin/Release/DbLogger.pdb
MySQLLibrary/bin/Release/DbNotifyer.dll
MySQLLibrary/bin/Release/DbNotifyer.pdb
MySQLLibrary/bin/Release/Hardcodet.Wpf.TaskbarNotification.dll
MySQLLibrary/bin/Release/Hardcodet.Wpf.TaskbarNotification.pdb
MySQLLibrary/bin/Release/Microsoft.Web.Infrastructure.dll
MySQLLibrary/bin/Release/Microsoft.Web.Infrastructure.xml
MySQLLibrary/bin/Release/MySQLLibrary.dll
MySQLLibrary/bin/Release/MySQLLibrary.pdb
MySQLLibrary/bin/Release/System.Web.Helpers.dll
MySQLLibrary/bin/Release/System.Web.Helpers.xml
MySQLLibrary/bin/Release/System.Web.Razor.dll
MySQLLibrary/bin/Release/System.Web.Razor.xml
MySQLLibrary/bin/Release/System.Web.WebPages.Deployment.dll
MySQLLibrary/bin/Release/System.Web.WebPages.Deployment.xml
MySQLLibrary/bin/Release/System.Web.WebPages.Razor.dll
MySQLLibrary/bin/Release/System.Web.WebPages.Razor.xml
MySQLLibrary/bin/Release/System.Web.WebPages.dll
MySQLLibrary/bin/Release/System.Web.WebPages.xml
MySQLLibrary/bin/Release/WebMatrix.Data.dll
MySQLLibrary/bin/Release/WebMatrix.Data.xml
MySQLLibrary/bin/Release/WebMatrix.WebData.dll
MySQLLibrary/bin/Release/WebMatrix.WebData.xml
MySQLLibrary/bin/Release/de/System.Web.Helpers.resources.dll
MySQLLibrary/bin/Release/de/System.Web.Razor.resources.dll
MySQLLibrary/bin/Release/de/System.Web.WebPages.Deployment.resources.dll
MySQLLibrary/bin/Release/de/System.Web.WebPages.Razor.resources.dll
MySQLLibrary/bin/Release/de/System.Web.WebPages.resources.dll
MySQLLibrary/bin/Release/de/WebMatrix.Data.resources.dll
MySQLLibrary/bin/Release/de/WebMatrix.WebData.resources.dll
TestApp/bin/Release/DatabaseFactory.dll
TestApp/bin/Release/DatabaseFactory.pdb
TestApp/bin/Release/DbInterface.dll
TestApp/bin/Release/DbInterface.pdb
TestApp/bin/Release/DbLogger.dll
TestApp/bin/Release/DbLogger.pdb
TestApp/bin/Release/DbNotifyer.dll
TestApp/bin/Release/DbNotifyer.pdb
TestApp/bin/Release/Hardcodet.Wpf.TaskbarNotification.dll
TestApp/bin/Release/Hardcodet.Wpf.TaskbarNotification.pdb
TestApp/bin/Release/MySQLLibrary.dll
TestApp/bin/Release/MySQLLibrary.pdb
TestApp/bin/Release/MySql.Data.dll
TestApp/bin/Release/SQLLibrary.dll
TestApp/bin/Release/SQLLibrary.pdb
TestApp/bin/Release/SQLite.Interop.dll
TestApp/bin/Release/SQLiteLibrary.dll
TestApp/bin/Release/SQLiteLibrary.pdb
TestApp/bin/Release/System.Data.SQLite.dll
TestApp/bin/Release/TestApp.exe
TestApp/bin/Release/TestApp.pdb
SQLLibrary/bin/Release/DbInterface.dll
SQLLibrary/bin/Release/DbInterface.pdb
SQLLibrary/bin/Release/DbLogger.dll
SQLLibrary/bin/Release/DbLogger.pdb
SQLLibrary/bin/Release/DbNotifyer.dll
SQLLibrary/bin/Release/DbNotifyer.pdb
SQLLibrary/bin/Release/Hardcodet.Wpf.TaskbarNotification.dll
SQLLibrary/bin/Release/Hardcodet.Wpf.TaskbarNotification.pdb
SQLLibrary/bin/Release/SQLLibrary.dll
SQLLibrary/bin/Release/SQLLibrary.pdb
SQLiteLibrary/bin/Release/DbInterface.pdb
SQLiteLibrary/bin/Release/DbLogger.dll
SQLiteLibrary/bin/Release/DbLogger.pdb
SQLiteLibrary/bin/Release/DbNotifyer.dll
SQLiteLibrary/bin/Release/DbNotifyer.pdb
SQLiteLibrary/bin/Release/Hardcodet.Wpf.TaskbarNotification.dll
SQLiteLibrary/bin/Release/Hardcodet.Wpf.TaskbarNotification.pdb
SQLiteLibrary/bin/Release/SQLite.Interop.dll
SQLiteLibrary/bin/Release/SQLiteLibrary.dll
SQLiteLibrary/bin/Release/SQLiteLibrary.pdb
SQLiteLibrary/bin/Release/DbInterface.dll
TestApp/obj/Debug/MainWindow.g.i.cs
