TestApp/obj/Debug/TestApp_MarkupCompile.i.lref
.gitignore
.vs/DatabaseFactory/v14/.suo
DbFactory/bin/Debug/DatabaseFactory.dll
DbFactory/bin/Debug/DatabaseFactory.pdb
DbFactory/bin/Debug/DbInterface.dll
DbFactory/bin/Debug/DbInterface.pdb
DbFactory/bin/Debug/DbLogger.dll
DbFactory/bin/Debug/DbLogger.pdb
DbFactory/bin/Debug/MySQLLibrary.dll
DbFactory/bin/Debug/MySQLLibrary.pdb
DbFactory/bin/Debug/SQLLibrary.dll
DbFactory/bin/Debug/SQLLibrary.pdb
DbFactory/bin/Debug/SQLiteLibrary.dll
DbFactory/bin/Debug/SQLiteLibrary.pdb
DbFactory/bin/Release/MySql.Data.Entity.EF5.dll
DbFactory/bin/Release/MySql.Data.Entity.EF6.dll
DbFactory/bin/Release/MySql.Fabric.Plugin.dll
DbInterface/bin/Debug/DbInterface.dll
DbInterface/bin/Debug/DbInterface.pdb
DbInterface/bin/Debug/DbLogger.dll
DbInterface/bin/Debug/DbLogger.pdb
DbInterface/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DbInterface/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DbInterface/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.cache
DbInterface/obj/Release/DbInterface.csproj.FileListAbsolute.txt
*TemporaryGeneratedFile*
TestApp/bin/Debug/DbLogger.dll
TestApp/bin/Debug/DbLogger.pdb
TestApp/bin/Debug/MySQLLibrary.dll
TestApp/bin/Debug/MySQLLibrary.pdb
TestApp/bin/Debug/SQLLibrary.dll
TestApp/bin/Debug/SQLLibrary.pdb
TestApp/bin/Debug/SQLiteLibrary.dll
TestApp/bin/Debug/SQLiteLibrary.pdb
TestApp/bin/Debug/TestApp.exe
TestApp/bin/Debug/TestApp.pdb
TestApp/bin/Debug/TestApp.vshost.exe.manifest
TestApp/bin/Release/D_TestApp.db
TestApp/bin/Release/DbFactoryLog.log
TestApp/bin/Release/TestApp.vshost.exe.manifest
SQLiteLibrary/bin/Debug/DbInterface.dll
SQLiteLibrary/bin/Debug/DbInterface.pdb
SQLiteLibrary/bin/Debug/DbLogger.dll
SQLiteLibrary/bin/Debug/DbLogger.pdb
SQLiteLibrary/bin/Debug/SQLiteLibrary.dll
SQLiteLibrary/bin/Debug/SQLiteLibrary.pdb
SQLLibrary/bin/Debug/DbInterface.pdb
SQLLibrary/bin/Debug/DbLogger.dll
SQLLibrary/bin/Debug/DbLogger.pdb
SQLLibrary/bin/Debug/SQLLibrary.dll
SQLLibrary/bin/Debug/SQLLibrary.pdb
TestApp/bin/Debug/D_TestApp.db
TestApp/bin/Debug/DatabaseFactory.dll
TestApp/bin/Debug/DatabaseFactory.pdb
TestApp/bin/Debug/DbFactoryLog.log
TestApp/bin/Debug/DbInterface.dll
TestApp/bin/Debug/DbInterface.pdb
MySQLLibrary/bin/Debug/DbInterface.dll
MySQLLibrary/bin/Debug/DbInterface.pdb
MySQLLibrary/bin/Debug/DbLogger.dll
MySQLLibrary/bin/Debug/DbLogger.pdb
MySQLLibrary/bin/Debug/MySQLLibrary.dll
MySQLLibrary/bin/Debug/MySQLLibrary.pdb
MySQLLibrary/obj/Release/MySQLLibrary.csproj.FileListAbsolute.txt
SQLLibrary/obj/Release/SQLLibrary.csproj.FileListAbsolute.txt
SQLiteLibrary/obj/Release/SQLiteLibrary.csproj.FileListAbsolute.txt
DbLogger/bin/Debug/DbLogger.dll
DbLogger/bin/Debug/DbLogger.pdb
DbLogger/bin/Release/DbLogger.dll
DbLogger/bin/Release/DbLogger.pdb
SQLLibrary/bin/Debug/DbInterface.dll
